@{
    ViewData["Title"] = "Home Page";
}

<h1>Calc Service Demonstration</h1>
<ul>
    <li><a href="@Url.Action("PassUsingModel", "CalcService")">Using Model Calc</a></li>
    <li><a href="@Url.Action("PassUsingViewData", "CalcService")">Using ViewData Calc</a></li>
    <li><a href="@Url.Action("PassUsingViewBag", "CalcService")">Using ViewBag Calc</a></li>
    <li><a href="@Url.Action("AccessServiceDirectly", "CalcService")">Using Service Injection Calc</a></li>
</ul>